node_modules/
dist/
build/
.vite/
coverage/

*.log
*.cache
*.tmp

__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
db.sqlite3

**/migrations/__pycache__/

venv/
.env
*.env

*.log
logs/

media/

.DS_Store
Thumbs.db

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

build/
develop-eggs/
dist/
eggs/
*.egg-info/
.eggs/

*.manifest
*.spec

*.sqlite

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

.mypy_cache/
.pytest_cache/
